<div class="page-header"><a href="/recipes"><h1>The Cookbook</h1></a></div>
<div class="container-fluid">
	<div id="recipe_list" class="sidebar">
	</div>
	<div  class="content">
		<div id="recipe_view"></div>
		<div id="recipe_edit"></div>
	</div>
</div>